[submodule "elisp/clojure-mode"]
	path=elisp/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "elisp/magit"]
	path=elisp/magit
	url = git://github.com/philjackson/magit.git
[submodule "elisp/slime"]
	path=elisp/slime
	url = git://github.com/emacsmirror/slime.git
